In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("/Users/scottmacdonald/Desktop/UCB Data Bootcamp/Module 6 - WeatherPy with Python APIs/World_Weather_Analysis/Resources/weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Mataura,NZ,2021-06-13 20:27:35,-46.1927,168.8643,51.22,99,100,3.22
1,1,Dunedin,NZ,2021-06-13 20:26:30,-45.8742,170.5036,52.81,96,100,7.94
2,2,Bereda,ES,2021-06-13 20:27:36,43.2686,-7.5406,69.55,100,94,4.05
3,3,Butaritari,KI,2021-06-13 20:27:36,3.0707,172.7902,81.61,76,100,5.70
4,4,Thompson,CA,2021-06-13 20:23:59,55.7435,-97.8558,55.56,71,75,10.36

In [3]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
cloudiness = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind_speed = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind_speed, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.dropna().head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Butaritari,KI,2021-06-13 20:27:36,3.0707,172.7902,81.61,76,100,5.70
6,6,Puerto Escondido,MX,2021-06-13 20:27:37,15.8500,-97.0667,85.03,51,90,4.61
10,10,Jamestown,US,2021-06-13 20:24:45,42.0970,-79.2353,80.29,72,10,9.26
15,15,Clarksburg,US,2021-06-13 20:23:30,39.2807,-80.3445,80.33,47,17,6.60
16,16,Dharmadam,IN,2021-06-13 20:27:39,11.7833,75.4333,78.39,83,100,10.87
25,25,Banda Aceh,ID,2021-06-13 20:27:41,5.5577,95.3222,80.26,78,100,8.61
27,27,Mazamari,PE,2021-06-13 20:27:41,-11.3258,-74.5308,84.24,49,30,0.60
29,29,Vanimo,PG,2021-06-13 20:27:42,-2.6741,141.3028,76.86,91,74,4.47
30,30,Pandan,PH,2021-06-13 20:27:42,14.0453,124.1694,78.49,82,83,4.52
31,31,Kulhudhuffushi,MV,2021-06-13 20:27:42,6.6221,73.0700,83.14,72,90,18.84

In [12]:
preferred_cities_df.count()

City_ID       185
City          185
Country       185
Date          185
Lat           185
Lng           185
Max Temp      185
Humidity      185
Cloudiness    185
Wind Speed    185
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                City Country  Max Temp      Lat       Lng Hotel Name
3         Butaritari      KI     81.61   3.0707  172.7902
6   Puerto Escondido      MX     85.03  15.8500  -97.0667
10         Jamestown      US     80.29  42.0970  -79.2353
15        Clarksburg      US     80.33  39.2807  -80.3445
16         Dharmadam      IN     78.39  11.7833   75.4333
25        Banda Aceh      ID     80.26   5.5577   95.3222
27          Mazamari      PE     84.24 -11.3258  -74.5308
29            Vanimo      PG     76.86  -2.6741  141.3028
30            Pandan      PH     78.49  14.0453  124.1694
31    Kulhudhuffushi      MV     83.14   6.6221   73.0700

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [22]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [23]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Butaritari,KI,81.61,3.0707,172.7902,Isles Sunset Lodge
6,Puerto Escondido,MX,85.03,15.8500,-97.0667,Aldea del Bazar Hotel and Spa
10,Jamestown,US,80.29,42.0970,-79.2353,Hampton Inn & Suites Jamestown
15,Clarksburg,US,80.33,39.2807,-80.3445,Greenbrier Motel & Restaurant
16,Dharmadam,IN,78.39,11.7833,75.4333,Samudra Homes
25,Banda Aceh,ID,80.26,5.5577,95.3222,Sulthan Hotel International
27,Mazamari,PE,84.24,-11.3258,-74.5308,Hospedaje Ratto
29,Vanimo,PG,76.86,-2.6741,141.3028,Vahmoneh Lodge Vanimo
30,Pandan,PH,78.49,14.0453,124.1694,Bonifacio Lodge
31,Kulhudhuffushi,MV,83.14,6.6221,73.0700,Haajy Guest House 1

In [20]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [27]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [28]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))